@charset "utf-8";

@font-face {
  font-family: Montserrat;

  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: FoglihtenNo06;
  src: url("fonts/FoglihtenNo06_076.otf");
}

			html, body {
                padding: 0px 40px;
                margin: 0;
				background-color: #FFFFFF;
            }
			h2{
                color:#07365E;
				font-family: "FoglihtenNo06";
			}
			h1{
                color:#07365E;
				font-family: "FoglihtenNo06";
				font-size: 34px;
			}
			li{list-style-type:  none;}
			

				
            .titles{
                display: flex;
                border-bottom: 1px #000000 inset ;
				}

			.titles2{
                display: flex;
  				justify-content: space-between;
 				height: 100%;
				}

			.titles-item2 {

                font-size: 15px;
                padding: 1em 0em;
                color: #07365E;
				font-family: "Montserrat";
			}
            .titles-item {
				display: flex;
				border: none;
				text-decoration: none;
                text-align:center;
                font-size: 17px;
                padding: 1em 2em;
                color: #07365E;
				font-family: "Montserrat";
			}

			.titles-item:hover 
				{background-color: #07365E;
				color:white;
				}
					
			.name {
				font-size: 140px;
				text-align: center;
				font-family: 'FoglihtenNo06';
				color:#600707;
				}
			
			.title_name {
				font-size: 90px;
				font-family: "FoglihtenNo06";
				color: #07365E;
				background-size:cover;
				background-size: 750px;
				}
			
			.au {
				margin: auto;;
				display: flex;
				padding: 0px 50px 0px 0px ;
				font-size: 16px;
				font-family: 'Montserrat';
}

			.ar {
				margin: auto;
				align-items:stretch;
				display:inline-flex;
				text-align:end;
				font-size: 16px;
				font-family: 'Montserrat';}

.foot{
	display: flex;
	flex-direction: row;
	font-family: 'FoglihtenNo06';
	color: black;
	font-size: 17px;
	
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	margin-top: 20px;
	height: 63px;
	background-color: #FFFDFA;
	gap: 60px;
}
    